@import "tailwindcss";

:root , html{
  height: 100vh;
  max-width: 100vw;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  scroll-behavior: smooth;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-out {
  animation: fadeOut 1s 5s ease-out forwards;
}

.fade-in {
  animation: fadeIn ease-out forwards;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #111112; /* very dark blue */
}

::-webkit-scrollbar-thumb {
  background: #1d1f1f; /* your dark blue theme color */
  border-radius: 10;
}

::-webkit-scrollbar-thumb:hover {
  background: #292929; /* lighter dark blue on hover */}