@import "tailwindcss";

:root , html{
  height: 100vh;
  max-width: 100vw;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  scroll-behavior: smooth;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeOut2 {
  0% {
    border-radius: "100%";
  }
  100% {
    height: 0px;
    width: 0px  }
}

@keyframes fadeOut3 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-out {
  animation: fadeOut 1s 5s ease-out forwards;
}

.fade-in {
  animation: fadeIn ease-out forwards;
}
.fade-out2 {
  animation: fadeOut2 0.5s 2.8s ease-out forwards;
}

.fade-out3 {
  animation: fadeOut3 0.7s 2s ease-out forwards;
}
.fade-in3 {
  animation: fadeOut3 0.5s 3s ease-out reverse forwards;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #111112; /* very dark blue */
}

::-webkit-scrollbar-thumb {
  background: #1d1f1f; /* your dark blue theme color */
  border-radius: 10;
}

::-webkit-scrollbar-thumb:hover {
  background: #292929; /* lighter dark blue on hover */}


 
.loader {
  width: 50px;
  aspect-ratio: 1.154;
  position: relative;
  background: conic-gradient(from 120deg at 50% 64%,#0000, #ffffff 1deg 120deg,#0000 121deg);
  animation: l27-0 1.5s 2 cubic-bezier(0.3,1,0,1) forwards;
}
.loader:before,
.loader:after {
  content:'';
  position: absolute;
  inset:0;
  background:inherit;
  transform-origin: 50% 66%;
  animation: l27-1 1.5s 2 forwards;
}
.loader:after {
  --s:-1;
}
@keyframes l27-0 {
   0%,30%      {transform: rotate(0)}
   70%         {transform: rotate(120deg)}
   70.01%,100% {transform: rotate(360deg)}
}
@keyframes l27-1 {
   0%      {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
   30%,70% {transform: rotate(calc(var(--s,1)*120deg)) translate(calc(var(--s,1)*-5px),10px)}
   100%    {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
}


/* Bottom card animation */

.horizontal-light-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 150px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.074);
  filter: blur(0px);
  opacity: 0.3;
  pointer-events: none;
  animation: moveLightY 8s linear infinite forwards;
}

.vertical-light-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 100%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.123);
  filter: blur(0px);
  opacity: 0.2;
  pointer-events: none;
  animation: moveLightX 15s linear infinite forwards;
}

@keyframes moveLightY {
  0% {
    top: -30%;
    opacity: 0;
  }
  50% {
    top: 130%;
    opacity: 0.2;
  }
  100% {
    top: -30%;
    opacity: 0.1;
  }
}

@keyframes moveLightX {
  0% {
    left: 0%;
  }
  50% {
    left: 120%;
    opacity: 0.1;
  }
  100% {
    left: 0%;
  }
}

